{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5 border rounded">
    <h3 class="join-message p-2 m-2">Book: {{listing.title}}.</h3>
    <form method="POST" id="user_form" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control p-3 m-2") }}
      {% endfor %}

      <h6 class="listing-price p-2 m-2">${{listing.daily_price}} Per Day</h6>

      <button class="btn btn-primary btn-lg p-3 m-2">Book</button>
    </form>
  </div>
</div>

{% endblock %}