<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Share B and B</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">

</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="https://sharebandb1234.s3.amazonaws.com/images.jpg" alt="logo">
          <span>Share B&B</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% if g.user %}
        <button><a href="/users/{{g.user.id}}">Profile</a></button>
        <form class="navbar-form navbar-end" action="/listings">
          <input name="q" class="form-control" placeholder="Search BB" aria-label="Search" id="search">
          <button class="btn btn-default">
            <span class="bi bi-search"></span>
          </button>
        </form>
        <button><a href="/users/{{g.user.id}}/inbox">Inbox</a></button>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>

        {% endif %}

  </nav>

  <div class="container">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
</body>

</html>