{% extends 'base.html' %}

{% block searchbox %}
{# don't show this on anon homepage #}
{% endblock %}

{% block content %}
{% if g.user %}
<div class="row">

  <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
    <div class="card user-card">
      <div>
        <!-- <div class="image-wrapper">
          <img src="{{ url }}{{g.user.image_path}}" alt="" class="card-hero">
        </div> -->
        <a href="/users/{{ g.user.id }}" class="card-link">
          <img src="{{ url }}{{g.user.image_path}}" alt="Image for {{ g.user.username }}" class="card-image">
          <p>@{{ g.user.username }}</p>
        </a>
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Listings</p>
            <h4>
              <a href="/users/{{ g.user.id }}">
                {{ g.user.listings | length }}
              </a>
            </h4>
          </li>

          <li class="stat">
            <p class="small">Reservations</p>
            <h4>
              <a href="/users/{{ g.user.id }}">
                {{ g.user.reservations | length }}
              </a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="messages">
      {% for message in messages %}
      <li class="list-group-item">
        <a href="/messages/{{ message.id }}" class="message-link">
          <a href="/users/{{ message.user.id }}">
            <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="message-area">
            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            {% if message.user.id != g.user.id %}
            <form action="/like/{{ message.id }}" method="POST">
              {{ g.csrf_form.hidden_tag() }}
              <input type="hidden" name="next_location" value="{{ request.url }}" id="">
              <button type="submit"><i
                  class='{{ "bi bi-star-fill messages-like" if message in g.user.liked_messages else "bi bi-star messages-like" }}'></i></button>
            </form>

            {% endif %}
            <p>{{ message.text }}</p>
          </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<div class="home-hero">
  <h1>What's Happening?</h1>
  <h4>New to Share B and B?</h4>
  <p>Sign up now to get your own listings!</p>
  <a href="/signup" class="btn btn-primary">Sign up</a>
</div>
{% endif %}
{% endblock %}